.formulario-cadastro_background{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 
        9px 9px 0 rgb(255, 255, 255),
        18px 18px 0 rgb(169, 104, 175);
    border-color: rgb(255, 199, 95);
    border-style: dashed ;
    stroke-linecap: butt;

}

.formulario-cadastro_box{
    background-color: white;
    width: 200px;
    box-sizing: border-box;
    margin: 20px auto;
}
.formulario-cadastro_model{
    padding: 50px;
    box-sizing: content-box;
}
.formulario-cadastro_box{
  color: rgb(49, 49, 49);

  background-color: #ffffff;
  font-weight: bold;
  padding: 54px;
  text-align: center;
  border: 9px solid rgb(255, 199, 95);
  border-radius: 30px;
  box-shadow: 03px 03px 0 rgb(127, 80, 131);
  
  width: 450px;
  box-sizing: border-box;
}
.formulario-cadastro_text{
    padding: 9px;
}
.formulario-cadastro_checkbox{
    align-items: flex;
}
.cadastro-finalizado_text{
    width: 100%;
    height: 36px;  
    padding: 30px;
    text-align: center;
    color: blanchedalmond;
    text-shadow: 1px 1px 0 rgb(49, 49, 49);
    background-color: rgb(98, 218, 124);
    border-radius: 90px;
    box-shadow: 
        9px 9px 0 rgb(255, 255, 255),
        18px 18px 0 rgb(149, 172, 185);
    border-color: rgb(97, 95, 95);
    stroke-linecap: butt;
}
.cadastro-finalizado_box{
    position: relative;
    position: center;
    height: auto;
    width: auto;
}